{% extends "base.html" %}
{% block content %}

<div class="max-w-2xl mx-auto mt-10">
    <div class="card bg-base-200 shadow-xl">
        <div class="card-body">

            <h2 class="card-title text-2xl font-bold mb-4">
                {% if object %}
                Update Transaction
                {% else %}
                Create New Transaction
                {% endif %}
            </h2>

            <form method="post" class="space-y-4">
                {% csrf_token %}

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Budget</span>
                    </label>
                    {{ form.budget }}
                    {% if form.name.errors %}
                    <span class="text-error text-sm">{{ form.name.errors.0 }}</span>
                    {% endif %}
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Category</span>
                    </label>
                    <select class="select select-bordered w-full"
                            name="category"
                            hx-get="/transactions/category-type/"
                            hx-target="#transaction-type-container"
                            hx-trigger="load, change"
                            hx-vals='{"current_type": "{{ form.instance.type }}"}'>
                        {% for choice in form.category.field.choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == form.category.value %}selected{% endif %}>
                                {{ choice.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Amount</span>
                    </label>
                    <label class="input input-bordered flex items-center gap-2 w-full">
                      {{ form.amount }}
                      <span class="opacity-50">PLN</span>
                    </label>
                </div>

                <div id="transaction-type-container"></div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Date</span>
                    </label>
                    {{ form.date }}
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Description</span>
                    </label>
                    {{ form.description }}
                </div>
                <!-- Errors -->
                {% if form.non_field_errors %}
                <div class="text-error text-sm">
                    {{ form.non_field_errors.0 }}
                </div>
                {% endif %}

                <!-- Buttons -->
                <div class="flex justify-end gap-2 mt-4">
                    <a href="{% url 'dashboard' %}" class="btn btn-ghost">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-primary">
                        {% if object %}
                        Update
                        {% else %}
                        Create
                        {% endif %}
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}